<p style="color: green"><%= notice %></p>

ここ
<%= render @user.microposts.second %>
まで

<div>
  <%= link_to "Edit this ユーザー", edit_user_path(@user) %> |
  <%= link_to "Back to ユーザー", users_path %>

  <%= button_to "Destroy this user", @user, method: :delete %>
</div>
